<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Création de projet</title>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js">
  </script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <script type="text/javascript" src="/creaproject.js" defer></script>
</head>

<body>
      <div class="container">
        <div class="text-center">
          <!-- header -->
          <main>
              <div class="jumbotron">
                  <h1>Création du projet</h1>
                  <p>parce que c'est notre projet</p>
              </div>
          </main>
        </div>
        <hr class="my-6">

        <!-- body -->
        <form method = "post" action = "/creaproject/project">
          <div class="form-group row">
            <label for="InputProjectName" class="col-sm-3 col-form-label">
              <b>Nom
              <span style="color:#FF0000";>*</b></span>
            </label>
            <div class="col-sm-6">
              <input type="projectName" class="form-control" id="InputProjectName">
            </div>
          </div>
          <div class="form-group row">
            <label for="InputTheme" class="col-sm-3 col-form-label"><b>Thématique<span style="color:#FF0000";>*</b></span></label>
            <div class="col-sm-6">
              <input type="theme" class="form-control" id="InputTheme">
            </div>
          </div>
          <div class="form-group row">
            <label for="InputOwner" class="col-sm-3 col-form-label"><b>Propriétaire</b></label>
            <div class="col-sm-6">
              <input type="owner" class="form-control" id="InputOwner">
            </div>
          </div>
          <div class="form-group row">
            <label for="InputClient" class="col-sm-3 col-form-label"><b>Client</b></label>
            <div class="col-sm-6">
              <input type="client" class="form-control" id="InputClient">
            </div>
          </div>
          <div class="form-group row">
            <label for="InputNbDeveloper" class="col-sm-3 col-form-label"><b>Nombre de développeurs</b></label>
            <div class="col-sm-1">
              <input type="nbdeveloper" class="form-control" id="InputNbDeveloper">
            </div>
          </div>
          <div class="form-group row">
            <label for="InputDuration" class="col-sm-3 col-form-label"><b>Estimation de la durée</b></label>
            <div class="col-sm-1">
              <input type="client" class="form-control" id="InputDuration">
            </div>
            <div class="col-sm-1">
            <select class="form-control" id="selectPriority">
              <option>j/h</option>
              <option>m/h</option>
              <option>a/h</option>
            </select>
            </div>
          </div>
          <div class="form-group row">
            <small id="ProjectHelp" class="form-text text-muted"><span style="color:#FF0000";>*</span> : Champs obligatoires</small>
          </div>
          <div class="text-center">
            <!-- <a href="/project"> -->
              <button type="button" class="btn btn-info btn-lg" id="btncreaproj">Créer le projet</button>
          <!-- </a> -->
            <a href="/">
              <button type="button" class="btn btn-danger btn-lg">Annuler</button>
          </a>
          </div>
        </form>
      </div>

      <!-- modal box-->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Projet non Crée ! </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal" id="ok">Ok</button>
          </div>
        </div>
      </div>
      </div>

</body>
</html>
