<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Accueil</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
  <div class="text-center">
    <div class="container">

      <!-- header -->
    <main>
        <div class="jumbotron">
          <h1>Accueil</h1>
          <p>Pas encore de projet ? Il faut en créer un !</p>
        </div>
    </main>
    <hr class="my-6">
    <!-- body -->
    <a href="/creaproject"><input type="button" class="btn btn-success btn-lg"
    value = "Créer un nouveau projet"></a>
  </div>
</div>
</body>
</html>
