<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Accueil</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="text-center">

      <!-- header -->
      <main>
          <div class="jumbotron">
            <h1>mon projet</h1>
            <p>Alors ici c'est la page d'accueil de ton projet, on peut faire pleins de choses c'est cool</p>
          </div>
      </main>
    <hr class="my-6">
    </div>

    <!-- body -->
    <h2>Backlog<h2>
    <a href="/add_us"><input type="button" class="btn btn-success btn-lg"
    value = "Ajouter une user story"></a>
  </div>
</body>
</html>
